[submodule "nixpkgs"]
	path = nixpkgs
	url = https://github.com/abbradar/nixpkgs
[submodule "dnolist"]
	path = dnolist
	url = https://github.com/abbradar/dnolist
[submodule "smtp"]
	path = smtp
	url = https://github.com/abbradar/smtp
[submodule "email"]
	path = email
	url = https://github.com/abbradar/email
[submodule "email-header"]
	path = email-header
	url = https://github.com/abbradar/email-header
[submodule "dnolist-frontend"]
	path = dnolist-frontend
	url = https://github.com/abbradar/dnolist-frontend
